.container {
    height: 500px;
    display: flex;
}


#shit {
    background-size: cover;
    height: 400px;
    width: 300px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    line-height: 1.42857;
}