body {
    background-color: snow;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

hr {
    width: 25%;
    color: aqua;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
    color: rgb(19, 164, 221);
}

li {
    float: right;
}

li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: red;
}

.active {
  background-color: #4CAF50;
}

div.gallery {
  margin: 5px;
  border: 1px solid black;
  float:left;
  width: 140px;
}

div.gallery:hover {
  border: 1px solid red;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: green;
  color: white;
  height: 30px;
}

.content {
    padding: 0px 15px;
}

div:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}