p {
    font-size: 12px;
}

.fa, .fas, .fab, .far {
    color: whitesmoke !important;
}

.navtext {
    font-size: 8px;
}

.container {
    background-color: #F5F5F5;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.container .container-fluid {
    box-shadow: black;
}

#mainres {
    background-color: gainsboro;
}

.name {
    font-size: 22px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}

.title {
    font-size: 14px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}

.dates {
    color: gray;
}