p {
    font-size: 10px;
}

.container {
    background-color: white;
}

#mainres {
    background-color: gainsboro;
}

.name {
    font-size: 16px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}

.title {
    font-size: 12px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}
