p {
    font-size: 12px;
}

.container {
    background-color: white;
    padding: 10px 5px;
    margin-bottom: 20px;
}

#mainres {
    background-color: gainsboro;
}

.name {
    font-size: 20px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}

.title {
    font-size: 14px;
    line-height: 1.333;
    font-weight: 400;
    color: black;
}
