body {
    background-color:aliceblue;
}

.container {
    height: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


/* #doors {
    background-size: cover;
    position:relative;
    height: 300px;
    width: 300px;
} */

#bigface {
    background-size: cover;
    position:relative;
    height: 300px;
    width: 300px;
}

#lift {
    background-size: cover;
    position:relative;
    height: 300px;
    width: 300px;
}

.transition {
    transition-property: transform 2s width 2s;
    transition-duration: 2s;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.transition-active {
    position: absolute;
    transform: translateX(75px);
    width: 0px;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(236, 88, 88, 0.349);
     }
     100% {
          box-shadow: 0 0 0 6px rgba(247, 7, 7, 0.801);
     }
}

#pushit {
    width: 10px;
    height: 10px;
    padding: 2px 0px;
    border-radius: 15px;
    line-height: 1.42857;
    animation: shadow-pulse 1s infinite;
    position: absolute;
    top: 142px;
    left: 248px;
}