.container-fluid {
    background: url("../img/clutter.jpg");
    background-size: cover;
    max-width: 100%;
    height: 600px;
    position: relative;
}    

.room {    
    width:100%;
    height:100%;
    position: absolute;
}