body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h3 {
    color:white;
    margin-bottom: 50px;
}

#torch {
    position: relative;
    background-image: url("../img/messy.png");
    background-size: contain;
    height:90vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
}    

.room {    
    width:100%;
    height:100%;
    position: absolute;
}